<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/header'); -%>

  <body>

    <!-- Navigation -->
    <%- include('layouts/navbar'); -%>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/chef-von.JPG')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">This is what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Growing up, watching my grandmother make meal after meal for the family always intrigued me as a child. My
            grandmother would cook every Sunday and every holiday. I could not wait to get to grandma's house just to
            eat some of her homemade cooking. This is a tradition slowly dying today. That is why I established
            MichLaTex. MichLaTex offers that home cooked meal from our kitchen to your table.
          </p>
          <p>Cooking has been a passion of mine even before I had my own family. After I started my family, cooking
            became not only a passion, it became highly important to me. I now had to keep in mind what I was feeding my
            family and the health benefits that came along with the food we would purchase. I begin to study about
            different ingredients, their health benefits, and how to apply certain spices to certain foods. After
            intense research, I began to cook with more natural, fresh, local ingredients and stopped using processed
            foods and seasoning that contributed to bad health.
          </p>
          <p>
            After moving to Texas, I decided to make my passion a reality. At MichLaTex I took everything I learned from
            living in Michigan, Louisiana, and now Texas an put it all into one pot. MichLaTex is my passion and
            knowledge of food and flavor, all cooked with love for the whole family to enjoy. With over 10 years of
            preparing food for a variety of clients, from nursing homes, meal preps, and personal chef. MichLaTex has a
            mission to bring you the best tasting, healthiest, meal we can cook.
          </p>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <%- include('layouts/footer'); -%>

    <!-- Scripts -->
    <%- include('layouts/scripts'); -%>

  </body>

</html>